
.carddiv .cardp{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: aquamarine;
    flex-direction: column;
    
    
    
}
.carddiv{
    width: 20%;
    padding: 1px 16px;
    align-content: column;
 

}
#container{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
}
header,.form{
    display: flex;
    justify-content: center;
}
#tab{
    padding: 2px;
}



